<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
	<session-factory>
	
		<!-- DB Connection Settings -->
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/db_spg</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>

		<!-- Hibernate Properties -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		
		<!-- Mapping Resource Details -->
		<mapping class="com.spg.hibernate.entities.Product" />
		<mapping resource="student.hbm.xml" />	
		
	</session-factory>
</hibernate-configuration>