server:
  port: 8080
spring:
  datasource:
    url: jdbc:h2:mem:accountsdb
    driverClassName: org.h2.Driver
    username: admin
    password: 1234
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
info:
  app:
    name: "accounts"
    description: "SPG Bank Accounts Application"
    version: 1.0.0